* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pagina {
    width: 80%;
    background-color: aquamarine;
    margin: auto;
    font-family:  'Lato', sans-serif;
}

header {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: midnightblue;
    background-image: url(../img/background-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 100px;
}

.nav-left {
    height: 70px;
}

.nav-left ul li {
    line-height: 50px;
    display: inline-block;
    float: left;
    list-style: none;
    font-size: 10px;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

#logo {
    margin-right: 50px;
    vertical-align: middle;
}
.nav-right {
    height: 70px;
    position: absolute;
    top:0px;
    right: 100px;
    margin-left: 100px;
}

.nav-right ul li {
    line-height: 60px;
    display: inline-block;
    float: left;
    list-style: none;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

#login {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 6px;
    font-size: 8px;
    color: #fff;
    background-color: midnightblue;
}

#pianifica {
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    background-color: greenyellow;
    border: 0;
    border-radius: 6px;
    font-size: 8px;
    color: #fff;
}

h1 {
    font-size: 40px;
    margin-top: 100px;
    color: #fff;
}

#pianifica2 {
    font-size: 12px;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: greenyellow;
    border: 0;
    border-radius: 6px;
}

.premessa {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
}

.premessa h2 {
    line-height: 150px;
}

.premessa h3 {
    position: absolute;
    top: 50%;
    left: 17%;
    color: grey;
}

.col-left {
    width: 250px;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.col-cent {
    width: 250px;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.col-right {
    width: 250px;
    display: inline-block;
    float: left;
    overflow: hidden;
}